extends parts/site
block content 
    script(src="/socket.io/socket.io.js") 
    script(src="/static/js/dashboard/dock.js")
    .container-fluid.text-light.mt-5
        .row.justify-content-center
            .col
                form(action="" id="spotify-form") 
                    span 
                        i.fab.fa-spotify.me-2
                        span Spotify 
                        .spinner-border.spinner-border-sm(style="display: none;")
                        each user in spotify
                            .form-check
                                input.form-check-input(type="radio" id="spotify-user-"+user value=user)
                                .form-check-label(for="spotify-user-"+user)
                                    span= user