extends parts/site
block content
    script(src="/static/js/dashboard/home.js") 
    .container-fluid.text-light.mt-5
        .row.justify-content-center
            .col.col-md-4
                .input-group.form-floating.my-2
                    input.form-control(type="text" disabled id="alertboxUrl" value=process.env.HOST+"/overlay/alertbox")
                    label.text-dark(for="alertBoxUrl") Alertbox (1300x300)
                    button.btn.btn-outline-secondary Copy
                .input-group.form-floating.my-2
                    input.form-control(type="text" disabled id="playbackUrl" value=process.env.HOST+"/overlay/playback")
                    label.text-dark(for="playbackUrl") Playback (410x110)
                    button.btn.btn-outline-secondary Copy