extends parts/site
block content
  script(src="/static/js/dashboard/home.js") 
  .container-fluid.text-light.mt-5
    .row
      .col.col-md-4
        .card.bg-dark.bg-opacity-50
          .card-header Overlays
          .card-body
            .input-group.form-floating
              input.form-control(type="text" disabled id="alertboxUrl" value=process.env.HOST+"/overlay/alertbox")
              label.text-dark(for="alertBoxUrl") Alertbox (1300x300)
              button.btn.btn-outline-secondary
                i.fas.fa-copy
            .input-group.form-floating
              input.form-control(type="text" disabled id="playbackUrl" value=process.env.HOST+"/overlay/playback")
              label.text-dark(for="playbackUrl") Playback (410x110)
              button.btn.btn-outline-secondary
                i.fas.fa-copy