body {
    overflow: hidden;
    font-family: monospace;
}

.playback-box {
    position: absolute;
    bottom: -110px;
    display: flex;
    background-color: #1f1f2d;
    border-radius: 0px 10px 0px 0px;
    box-shadow: 0px 0px 6px -1px black;
    max-width: 390px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.playback-image {
    height: 100px;
}

.playback-text-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    overflow-x: hidden;
}

.playback-title {
    font-size: large;
    white-space: nowrap;
}

.playback-artists {
    text-align: center;
    white-space: nowrap;
}
