extends ../overlay.pug
block content
  link(rel="stylesheet", href="/static/css/overlay/alert-box.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")
  script(src="/static/js/overlay/alert-box.js")
  script(src="/static/js/overlay/figlet.js") 
  body(style="font-family: 'Roboto Mono', monospace;")
  .alert-box(data-function="addAlert" style="top: -100%")
    img(class="alert-box-icon")
    .alert-box-message-wrapper
      pre(class="alert-box-user")
      .alert-box-message
    span x