extends ../overlay.pug
block content
    link(rel="stylesheet", href="/static/css/overlay/playback.css")
    script(src="/static/js/overlay/playback.js") 
    .playback-box(data-function="showPlayBack")
        img(class="playback-image")
        .playback-text-container
            .playback-title
            .playback-artists